{% extends 'base2.html' %}
<html>
<head>
    <title>Contact Page</title>
</head>
<body>
{% block content %}
{#    <style>#}
    {#{#    ul{#}
    {#{#        margin-top: -10px;#}
    {#{#    }#}
    {#{#    li{#}
    {#{#        list-style-type: none;#}
    {#{#        margin-top: -7px;#}
    {#{#    }#}
    {#{#    </style>#}
    <style>
    ul{
        list-style-type: none;
    }
    </style>
    <div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <form method="POST">
                {% csrf_token %}
                {{ cform }}<br>
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </form>
        </div>
    </div>
    </div>

{% endblock %}
</body>
</html>