{% extends 'base2.html' %}
{% load staticfiles %}
<html>
<head>
    <title>Our Team Page</title>
</head>
<body>
{% block content %}
    <style>
    body{
        background-color: #44aaee;
    }
    </style>
<div class="team">
    <h1>Our Team</h1>
    <span class="sp1"></span>
    <div class="pics">
       <a href="#p1"> <img src="{% static 'images/mypic.jpg' %}"></a>
       <a href="#p2"> <img src="{% static 'images/mypic.jpg' %}"></a>
       <a href="#p3"> <img src="{% static 'images/mypic.jpg' %}"></a>
    </div>

    <div class="section" id="p1">
        <h1 class="name">Narayana</h1>
        <span class="sp1"></span>
        <center><p>Python Narayana</p></center>
    </div>
    <div class="section" id="p2">
        <h1 class="name">Srinu</h1>
        <span class="sp1"></span>
        <center><p>REST API Srinivas</p></center>
    </div>

    <div class="section" id="p3">
        <h1 class="name">Satya</h1>
        <span class="sp1"></span>
        <center><p>Django Django Django</p></center>
    </div>
</div>
{% endblock %}
</body>
</html>